@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd;
}
/* button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
} */
button:hover {
  background-color: #265df2;
}
/* button.show-modal, */
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #F9A826;
}

section.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #F9A826;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}



/*CONTACT MODAL */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}
  
.modal-content {
    position: fixed;
    align-items: center;
    left: 50%;
    top: 50%;
    background-color: #F9A826;
    padding: 30px 20px;
    border-radius: 24px;
    max-width: 380px;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);

}
   
.close {
    /* position: absolute; */
    justify-self: left;
    cursor: pointer;
    border-radius: 20px;
    background-color: #050d23;
    height: 20%;
    width: 101px;
    align-items: center;
    padding: 2%;
    font-size: 10px;
    text-align: center;
    color: white;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-second {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.Contact-details {
    /* justify-content: space-between; */
    gap: 5%;
    display: flex;
}

.send-email {
    border: none;
    border-radius: 20px;
    width: 101px;
    font-size: 10px;
    padding: 3%;
}

.github {
    border: none;
    border-radius: 20px;
    font-size: 10px;
    width: 101px;
    padding: 3%;

}


  
/* CONTACT MODAL ENDS HERE*/
  



.logo-svg {
    height: 40px;
}

.navbarpart {
    background-color: #F9A826;
}

.my-intro {
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: antiquewhite;
}
.my-intro img {
    animation: rotate-vert-right 1s linear 0s 1 normal none;
}

@keyframes rotate-vert-right {
			
    0% {
        transform:rotateY(0);
        transform-origin:right;
    }
    100% {
        transform:rotateY(-360deg);
        transform-origin:right;
    }
}

@media screen and (max-width: 580px) {
    .my-intro {
        display: block;
    }
    .my-intro img {
        width: 100%;
        height: 250px;
    }
}

.About-me h3 {
    animation: focus-in-expand-top 1s linear 0s 1 normal none;
}
@keyframes focus-in-expand-top {
			
    0% {
        letter-spacing:-.5em;
        transform:translateY(-300px);
        filter:blur(12px);
        opacity:0;
    }
    0% {
        transform:translateY(0);
        filter:blur(0);
        opacity:1;
    }
}

.Olufisayo {
    -webkit-text-fill-color: #F9A826;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.About-me p {
    animation: text-flicker-out-glow 1s linear 0s 1 normal none;
    animation: 
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes text-flicker-out-glow {
			
    0% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
    }
    13% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
    }
    14% {
        opacity:0;
        text-shadow:none;
    }
    15% {
        opacity:0;
        text-shadow:none;
    }
    16% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
    }
    22% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
    }
    23% {
        opacity:0;
        text-shadow:none;
    }
    24% {
        opacity:0;
        text-shadow:none;
    }
    25% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
    }
    34% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
    }
    35% {
        opacity:0;
        text-shadow:none;
    }
    39% {
        opacity:0;
        text-shadow:none;
    }
    40% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
    }
    42% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
    }
    43% {
        opacity:0;
        text-shadow:none;
    }
    44% {
        opacity:0;
        text-shadow:none;
    }
    45% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    50% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    54% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    55% {
        opacity:0;
        text-shadow:none;
    }
    69% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    70% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    71% {
        opacity:0;
        text-shadow:none;
    }
    78% {
        opacity:0;
        text-shadow:none;
    }
    79% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.25);
    }
    80% {
        opacity:0;
        text-shadow:none;
    }
    88% {
        opacity:0;
        text-shadow:none;
    }
    89% {
        opacity:1;
        text-shadow:none;
    }
    90% {
        opacity:0;
        text-shadow:none;
    }
    100% {
        opacity:0;
    }
}

.discovery {
    padding: 5%;
    background-color: antiquewhite;
}


.the-modal {
    height: 100px;
    width: 90%;
    margin: 5%;
    border: none;
    border-radius: 10px;
    background-color: #F9A826;
    display: flex;
    overflow-x: scroll;
    padding: 1%;
    justify-content: space-between;
}

.the-modal img {
    width: auto;
    height: auto;
}

.the-modal-container {
    background-color: antiquewhite;
    padding: 5%;
}

.the-modal-container h3 {
    text-align: center;
    margin-bottom: -2%;
}

.the-modal h3 {
    text-align: center;
}

/* Footer */

.the-footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #F9A826;
    padding: 5%;
}

@media screen and (max-width: 580px) {
    .the-footer {
        display: block;
    }
    
}



/* projects */
.show-projects {
    width: screen;
    height: inherit;
    background-color: antiquewhite;
    display: block;
}

.projects-box {
    width: inherit;
    height: inherit;
    background-color: #e3f2fd;
    flex: 1 0 200px;
}

.projects-box img {
    width: 100%;
}

.Project-btn {
    border: none;
    background-color: #050d23;
    padding: 1%;
    width: 100%;
}

.Project-btn a {
    font-size: 20px;
    color: white;
}

.the-modal-project {
    height: inherit;
    width: 90%;
    margin: 5%;
    border: none;
    border-radius: 10px;
    background-color: #F9A826;
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (max-width: 580px) {
    
}

