@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd;
}
/* button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
} */
button:hover {
  background-color: #265df2;
}
/* button.show-modal, */
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #F9A826;
}

section.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #F9A826;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}



/*CONTACT MODAL */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}
  
.modal-content {
    position: fixed;
    align-items: center;
    left: 50%;
    top: 50%;
    background-color: #F9A826;
    padding: 30px 20px;
    border-radius: 24px;
    max-width: 380px;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);

}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Contact.details {
    display: block;
}
  
/* CONTACT MODAL ENDS HERE*/
  



.logo-svg {
    height: 40px;
}

.navbarpart {
    background-color: #F9A826;
}

.my-intro {
    display: flex;
    justify-content: center;
    margin: 5%;
}
.my-intro img {
    animation: rotate-vert-right 1s linear 0s 1 normal none;
}

@keyframes rotate-vert-right {
			
    0% {
        transform:rotateY(0);
        transform-origin:right;
    }
    100% {
        transform:rotateY(-360deg);
        transform-origin:right;
    }
}

@media screen and (max-width: 580px) {
    .my-intro {
        display: block;
    }
    .my-intro img {
        width: 100%;
        height: 250px;
    }
}

.About-me h3 {
    animation: focus-in-expand-top 1s linear 0s 1 normal none;
}
@keyframes focus-in-expand-top {
			
    0% {
        letter-spacing:-.5em;
        transform:translateY(-300px);
        filter:blur(12px);
        opacity:0;
    }
    0% {
        transform:translateY(0);
        filter:blur(0);
        opacity:1;
    }
}
.Olufisayo {
    -webkit-text-fill-color: #F9A826;
}

.About-me p {
    animation: text-flicker-out-glow 1s linear 0s 1 normal none;
}
@keyframes text-flicker-out-glow {
			
    0% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
    }
    13% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.6),0 0 60px rgba(0,0,0,.45),0 0 110px rgba(0,0,0,.25),0 0 100px rgba(0,0,0,.1);
    }
    14% {
        opacity:0;
        text-shadow:none;
    }
    15% {
        opacity:0;
        text-shadow:none;
    }
    16% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
    }
    22% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.4),0 0 110px rgba(0,0,0,.2),0 0 100px rgba(0,0,0,.1);
    }
    23% {
        opacity:0;
        text-shadow:none;
    }
    24% {
        opacity:0;
        text-shadow:none;
    }
    25% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
    }
    34% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35),0 0 100px rgba(0,0,0,.1);
    }
    35% {
        opacity:0;
        text-shadow:none;
    }
    39% {
        opacity:0;
        text-shadow:none;
    }
    40% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
    }
    42% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.55),0 0 60px rgba(0,0,0,.35);
    }
    43% {
        opacity:0;
        text-shadow:none;
    }
    44% {
        opacity:0;
        text-shadow:none;
    }
    45% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    50% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    54% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    55% {
        opacity:0;
        text-shadow:none;
    }
    69% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    70% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.45),0 0 60px rgba(0,0,0,.25);
    }
    71% {
        opacity:0;
        text-shadow:none;
    }
    78% {
        opacity:0;
        text-shadow:none;
    }
    79% {
        opacity:1;
        text-shadow:0 0 30px rgba(0,0,0,.25);
    }
    80% {
        opacity:0;
        text-shadow:none;
    }
    88% {
        opacity:0;
        text-shadow:none;
    }
    89% {
        opacity:1;
        text-shadow:none;
    }
    90% {
        opacity:0;
        text-shadow:none;
    }
    100% {
        opacity:0;
    }
}

.discovery {
    margin: 5%;
}
/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    float: right;
    cursor: pointer;
} */

.the-modal {
    /* position: fixed; */
    height: 100px;
    width: 90%;
    margin: 5%;
    border: none;
    border-radius: 10px;
    background-color: #F9A826;
    display: flex;
    overflow-x: scroll;

    padding: 1%;
    justify-content: center;
}

.the-modal-container h3 {
    text-align: center;
    margin-bottom: -2%;
}

.the-modal h3 {
    text-align: center;
}

/* Footer */

.the-footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #F9A826;
    padding: 5%;
}

@media screen and (max-width: 580px) {
    .the-footer {
        display: block;
    }
    
}

